<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

    <table>
        <tr th:each="user : ${users}">
            <p>
            <td th:text="${user.id}"
            </td>
            <td th:text="${user.name}"
            </td>
            <td th:text="${user.login}"
            </td>
            <td th:text="${user.password}"
            </td> </p>

        </tr>
    </table>
</div>
</body>
</html>